.header {
  background-color: rgb(228, 227, 227);
  color: #000;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background-color: #fff;
  color: #000;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgba(179, 30, 30, 0.818);
  color: #fff;
}

.avatar {
  width: 2rem;
  height: 2rem;
  margin-top: 0.25rem;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
}
.avatar:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.5rem;
  }
  .name {
    display: none;
  }
}
