* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.demo-loadmore-list {
  min-height: 350px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(180deg, #1e1e1e 0%, #1e1e1e 100%);
  }
}
